

#top{
	background-color:#99B2B7;
	overflow:hidden;
	height:100px;
}

#topdiv{
	display:table;
	width:90%;
	margin: 0 auto;
}

#name{
 	display:inline;
	text-transform:capitalize;
	text-decoration: none;
	float:left;
	font-size:125%;
}

nav ul li {
	margin-left:2.2em;
	display:inline;
	float:right;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	list-style:none;
}	

body{
	font-family: 'Lato', sans-serif;
}